<h1><%= @employee.full_name %></h1>

<p>Alias: <%= @employee.alias %></p>
<p>Title: <%= @employee.title %></p>
<p>Office Branch: <%= @employee.office %></p>
<p>Doggy: <%= link_to @e_dog.name, dog_path(@e_dog) %></p>
<p><%= image_tag @employee.img_url %></p>




